<nav>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('customers.customers') }}">Customers</a></li>
    <li><a href="{{ url_for('carmodels.car_models') }}">Car Models</a></li>
    <li>
      <a href="{{ url_for('ownerships.customer_ownerships') }}"
        >Customer Ownerships</a
      >
    </li>
    <li><a href="{{ url_for('carvins.car_vins') }}">Car Vins</a></li>
    <li><a href="{{ url_for('caroptions.car_options') }}">Car Options</a></li>
    <li><a href="{{ url_for('carparts.car_parts') }}">Car Parts</a></li>
    <li><a href="{{ url_for('brands.brands') }}">Brands</a></li>
    <li><a href="{{ url_for('dealers.dealers') }}">Dealers</a></li>
    <li>
      <a href="{{ url_for('dealerbrands.dealer_brands') }}">Dealer Brands</a>
    </li>
    <li>
      <a href="{{ url_for('manufactureplants.manufacture_plants') }}"
        >Manufacture Plants</a
      >
    </li>
    <!-- Add more links as you add more sections -->
  </ul>
</nav>
