<!-- templates/carmodel_form.html -->

{% extends 'base.html' %} {% block title %}New Car Model {% endblock %} {% block
header %}
<h2>New Car Model</h2>
{% endblock %} {% block content %}
<div class="container mt-5">
  <form method="post" action="{{ url_for('carmodels.new_car_model') }}">
    <div class="form-group">
      <label for="model_name">Model Name</label>
      <input
        type="text"
        class="form-control"
        id="model_name"
        name="model_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="model_base_price">Model Base Price</label>
      <input
        type="number"
        class="form-control"
        id="model_base_price"
        name="model_base_price"
        required
      />
    </div>
    <div class="form-group">
      <label for="brand_id">Brand</label>
      <select class="form-control" id="brand_id" name="brand_id" required>
        <option value="" disabled selected>Select a brand</option>
        {% for brand in brands %}
        <option value="{{ brand.brand_id }}">{{ brand.brand_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
