{% extends 'base.html' %} {% block title %}Car Options{% endblock %} {% block
header %}
<h1>Car Options</h1>
{% endblock %} {% block content %}
<a href="{{ url_for('caroptions.new_caroption') }}">Add New Car Option</a>
<ul>
  {% for caroption in caroptions %}
  <li>
    <a
      href="{{ url_for('caroptions.view_caroption', option_set_id=caroption.option_set_id) }}"
    >
      {{ caroption.option_set_id }} - {{ caroption.color }}
    </a>
    <form
      action="{{ url_for('caroptions.delete_caroption', option_set_id=caroption.option_set_id) }}"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
