{% extends 'base.html' %} {% block title %}{% if caroption %}Edit{% else %}New{%
endif %} Car Option{% endblock %} {% block header %}
<h1>{% if caroption %}Edit{% else %}New{% endif %} Car Option</h1>
{% endblock %} {% block content %}
<form
  action="{% if caroption %}{{ url_for('caroptions.view_caroption', option_set_id=caroption.option_set_id) }}{% else %}{{ url_for('caroptions.new_caroption') }}{% endif %}"
  method="POST"
>
  <label for="model_id">Model ID:</label>
  <input
    type="number"
    id="model_id"
    name="model_id"
    value="{{ caroption.model_id if caroption else '' }}"
    required
  /><br />
  <label for="engine_id">Engine ID:</label>
  <input
    type="number"
    id="engine_id"
    name="engine_id"
    value="{{ caroption.engine_id if caroption else '' }}"
    required
  /><br />
  <label for="transmission_id">Transmission ID:</label>
  <input
    type="number"
    id="transmission_id"
    name="transmission_id"
    value="{{ caroption.transmission_id if caroption else '' }}"
    required
  /><br />
  <label for="chassis_id">Chassis ID:</label>
  <input
    type="number"
    id="chassis_id"
    name="chassis_id"
    value="{{ caroption.chassis_id if caroption else '' }}"
    required
  /><br />
  <label for="premium_sound_id">Premium Sound ID:</label>
  <input
    type="number"
    id="premium_sound_id"
    name="premium_sound_id"
    value="{{ caroption.premium_sound_id if caroption else '' }}"
    required
  /><br />
  <label for="color">Color:</label>
  <input
    type="text"
    id="color"
    name="color"
    value="{{ caroption.color if caroption else '' }}"
    required
  /><br />
  <label for="option_set_price">Option Set Price:</label>
  <input
    type="number"
    id="option_set_price"
    name="option_set_price"
    value="{{ caroption.option_set_price if caroption else '' }}"
    required
  /><br />
  <button type="submit">
    {% if caroption %}Update{% else %}Create{% endif %}
  </button>
</form>
{% endblock %}
