{% extends 'base.html' %} {% block title %}Car Vins{% endblock %} {% block
header %}
<h1>Car Vins</h1>
{% endblock %} {% block content %}
<a href="{{ url_for('carvins.new_carvin') }}">Add New Car Vin</a>
<ul>
  {% for carvin in carvins %}
  <li>
    <a href="{{ url_for('carvins.view_carvin', vin=carvin.vin) }}">
      {{ carvin.vin }}
    </a>
    <form
      action="{{ url_for('carvins.delete_carvin', vin=carvin.vin) }}"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
