{% extends 'base.html' %} {% block title %}Customers{% endblock %} {% block
header %}
<h1>Customers</h1>
{% endblock %} {% block content %}
<a href="{{ url_for('customers.new_customer') }}">Add New Customer</a>
<ul>
  {% for customer in customers %}
  <li>
    <a
      href="{{ url_for('customers.view_customer', customer_id=customer.customer_id) }}"
    >
      {{ customer.first_name }} {{ customer.last_name }}
    </a>
    <form
      action="{{ url_for('customers.delete_customer', customer_id=customer.customer_id) }}"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
