{% extends 'base.html' %}

{% block title %}{% if ownership %}Edit{% else %}New{% endif %} Customer Ownership{% endblock %}

{% block header %}
<h1>{% if ownership %}Edit{% else %}New{% endif %} Customer Ownership</h1>
{% endblock %}

{% block content %}
<form action="{% if ownership %}{{ url_for('ownerships.view_customer_ownership', customer_id=ownership.customer_id, vin=ownership.vin) }}{% else %}{{ url_for('ownerships.new_customer_ownership') }}{% endif %}" method="POST">
    <label for="customer_id">Customer ID:</label>
    <select id="customer_id" name="customer_id" onchange="updateCustomerName()">
        <option value="">Select Customer</option>
        {% for customer in customers %}
        <option value="{{ customer.customer_id }}" {% if ownership and ownership.customer_id == customer.customer_id %}selected{% endif %}>
            {{ customer.customer_id }}
        </option>
        {% endfor %}
    </select>
    <span id="customer_name"></span><br>

    <label for="vin">VIN:</label>
    <select id="vin" name="vin">
        <option value="">Select VIN</option>
        {% for vin in vins %}
        <option value="{{ vin.vin }}" {% if ownership and ownership.vin == vin.vin %}selected{% endif %}>
            {{ vin.vin }}
        </option>
        {% endfor %}
    </select><br>

    <label for="purchase_date">Purchase Date:</label>
    <input type="date" id="purchase_date" name="purchase_date" value="{{ ownership.purchase_date if ownership else '' }}" required><br>

    <label for="purchase_price">Purchase Price:</label>
    <input type="number" id="purchase_price" name="purchase_price" value="{{ ownership.purchase_price if ownership else '' }}" required><br>

    <label for="warranty_expire_date">warranty Expire Date:</label>
    <input type="date" id="warranty_expire_date" name="warranty_expire_date" value="{{ ownership.warranty_expire_date if ownership else '' }}" required><br>

    <label for="dealer_id">Dealer ID:</label>
    <select id="dealer_id" name="dealer_id">
        <option value="">Select Dealer</option>
        {% for dealer in dealers %}
        <option value="{{ dealer.dealer_id }}" {% if ownership and ownership.dealer_id == dealer.dealer_id %}selected{% endif %}>
            {{ dealer.dealer_name }}
        </option>
        {% endfor %}
    </select><br>

    <button type="submit">{% if ownership %}Update{% else %}Create{% endif %}</button>
</form>

<script>
    const customers = {{ customers | tojson }};
    function updateCustomerName() {
        const customerId = document.getElementById('customer_id').value;
        const customer = customers.find(c => c.customer_id == customerId);
        document.getElementById('customer_name').innerText = customer ? customer.first_name + ' ' + customer.last_name : '';
    }
    window.onload = updateCustomerName;
</script>
{% endblock %}
