{% extends 'base.html' %} {% block title %}{% if plant %}Edit{% else %}New{%
endif %} Manufacture Plant{% endblock %} {% block header %}
<h1>{% if plant %}Edit{% else %}New{% endif %} Manufacture Plant</h1>
{% endblock %} {% block content %}
<form
  action="{% if plant %}{{ url_for('manufactureplants.view_manufacture_plant', manufacture_plant_id=plant.manufacture_plant_id) }}{% else %}{{ url_for('manufactureplants.new_manufacture_plant') }}{% endif %}"
  method="POST"
>
  <label for="plant_name">Plant Name:</label>
  <input
    type="text"
    id="plant_name"
    name="plant_name"
    value="{{ plant.plant_name if plant else '' }}"
    required
  /><br />
  <label for="plant_type">Plant Type:</label>
  <input
    type="text"
    id="plant_type"
    name="plant_type"
    value="{{ plant.plant_type if plant else '' }}"
    required
  /><br />
  <label for="plant_location">Plant Location:</label>
  <input
    type="text"
    id="plant_location"
    name="plant_location"
    value="{{ plant.plant_location if plant else '' }}"
    required
  /><br />
  <label for="company_owned">Company Owned:</label>
  <input
    type="checkbox"
    id="company_owned"
    name="company_owned"
    {%
    if
    plant
    and
    plant.company_owned
    %}checked{%
    endif
    %}
  /><br />
  <button type="submit">{% if plant %}Update{% else %}Create{% endif %}</button>
</form>
{% endblock %}
